<%- include("partials/header")%>

<li><a href="/register">SIGN UP!!</a></li>
<li><a href="/login">LOGIN</a></li>
<li><a href="/LOGOUT">LOGOUT</a></li>

    <div class="modal-dialog text-center">
      <div class="col-sm-8 main-section">
        <div class="modal-content">


          <div class="col-12 user-img">
            <img src="unnamed.png" >
          </div>


          <form class="col-12" action="/login" method="POST">
            <div class="form-group">
              <input type="username" name="username" class="form-control" placeholder="Username">
            </div>

            <div class="form-group">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" class="form-control" placeholder="Password">
            </div>

            <button type="submit" class="btn btn-primary btn1">LOGIN</button>
          </form>

          
         
          
        </div>
      </div>
    </div>


    <%- include("partials/footer")%>
    

 
    
   
